

<div>
  <%= bootstrap_form_for(@form ||= Form.new) do |f| %>
    <%= f.text_field :name, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :email, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :date, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :phone_number, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :move_in_date, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :age, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :gender, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :occupation, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :package, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :chicago, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :description, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.text_field :article, hide_label: true, placeholder: "Enter Your Email!", icon: "user", class: "my-text-field" %>
    <%= f.submit "submit", class: "btn btn-md my-btn" %>
  <% end -%>

</div>
