<!DOCTYPE html>
<html>

<head>
  <title>Francis: A hub for young professionals</title>
  <%= stylesheet_link_tag "francis" %>
  <%= stylesheet_link_tag "emails" %>
  <%= stylesheet_link_tag "hover" %>


  <!-- JavaScript -->
  <%= javascript_include_tag('application') %>
</head>

<body>
  <%= render 'layouts/partials/navigation' %>
  <%= yield %>
  <%= render 'layouts/partials/footer' %>
</body>

</html>
