<!DOCTYPE html>
<html>

  <%= stylesheet_link_tag "application" %>

  <!-- Owl Carousel Assets -->
  <%= stylesheet_link_tag "owl.carousel" %>
  <%= stylesheet_link_tag "owl.theme" %>

  <!-- JavaScript -->
  <%= javascript_include_tag('application') %>
  <%= javascript_include_tag('owl.carousel.min') %>



  <head>
    <title>SubletInn</title>
    <div id="bg">
      <!-- attempt at a carassell
      <div id="owl-demo" class="owl-carousel">
        <div class="item" style="width:100%; height: auto;"><%= image_tag("http://s3.amazonaws.com/subletinn/background.jpg", :class => "style_image") %></div>
        <div class="item" style="width:100%; height: auto;"><%= image_tag("http://s3.amazonaws.com/subletinn/coming soon.jpg", :class => "style_image") %></div>
      </div>
    -->
    <%= image_tag("http://s3.amazonaws.com/subletinn/background.jpg", :class => "style_image") %>
    </div>
  </head>


  <body>


  </body>
</html>
