<!DOCTYPE html>
<html>

  <%= stylesheet_link_tag "application" %>

  <!-- Owl Carousel Assets -->
  <%= stylesheet_link_tag "owl.carousel" %>
  <%= stylesheet_link_tag "owl.theme" %>

  <!-- JavaScript -->
  <%= javascript_include_tag('application') %>
  <%= javascript_include_tag('owl.carousel.min') %>



  <head>
    <title>SubletInn</title>
    <div id="bg">
      <!-- attempt at a carassell
      <div id="owl-demo" class="owl-carousel">
        <div class="item" style="width:100%; height: auto;"><%= image_tag("http://s3.amazonaws.com/subletinn/background.jpg", :class => "style_image") %></div>
        <div class="item" style="width:100%; height: auto;"><%= image_tag("http://s3.amazonaws.com/subletinn/coming soon.jpg", :class => "style_image") %></div>
      </div>
    -->
    <%= image_tag("http://s3.amazonaws.com/subletinn/background.jpg", :class => "style_image") %>
    </div>
  </head>


  <body>


    <div style="position:relative;">
      <div id="circle" style="position:absolute;left:50%;margin-left:-250px;top:50%;margin-top:10%;width:500px;height:500px;" >
        <div id="center_text">
            <%= image_tag("http://s3.amazonaws.com/subletinn/Icons/subletinn.png", :class => "logo") %>
            <div style="position: relative; left: 0; top: 0;">
              <%= image_tag("http://s3.amazonaws.com/subletinn/Icons/discover.png", :class => "sublogo") %>
            </div>

        </div>
      </div>
    </div>

  </body>
</html>
